.inactive {
  border: none;
  width: 3rem;
  padding-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
}
.active {
    border:none;
  width: 3rem;
  padding-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
}
.on {
    border:none;
  background-color:transparent;
  border:none;
  width: 3rem;
  padding-left: 1rem;
  margin-right: 1rem;
}
.post-buttons {
  display: flex;
  justify-content: right;
}
