.inactive {
    background-color:grey;
    color: white;
}
.active {
    background-color: green;
    color: white;
}
.on {
    background-color:red;
    color: white;
}
.post-buttons {
    display:flex;
    justify-content:right
}