.edit-button {
  border: none;
  width: 3rem;
  background-color: transparent;
}
#edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  box-shadow: 2px 2px 6px;
  z-index: 10;
  width: 850px;
  max-width: 80%;
  margin: 2rem;
  border-radius: 5px;
  background-color: rgb(35, 33, 33);
}
#edit-modal.active {
  transform: translate(-50%, -50%) scale(1);
}
label {
  margin-top: 1rem;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-header h1 {
  font-size: 1.25rem;
  font-weight: bold;
}
.close-modal {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body {
  padding: 10px 15px;
}
.modal-body .create-button {
  width: 50rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(255, 247, 247, 0.312);
  pointer-events: none;
}
.overlay-active {
  pointer-events: all;
  opacity: 1;
}
