div header {
  background-color: rgb(48, 5, 5);
  box-shadow: 3px 3px 7px lightgray;
  border-style: none;
  padding: 1rem;
}

.border-box {
  background-color: rgb(48, 5, 5);
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgb(255, 255, 255);
  padding: 20px;
}
ul {
  list-style-type: none;
}

.create-button {
  margin-top: 1rem;
  border-radius: 5px;
  border-style: none;
  color: white;
  background-color: #3a3a3a;
  width: 7rem;
}

.page {
  background-color: #130404;
  padding-bottom: 2rem;
  color: white;
}

input.form-control {
background-color:transparent;
color:white;
}
textarea.form-control {
  background-color:transparent;
  color:white
}