/* html {
   background-color: darkolivegreen;
} */
table {
    background-color:white;
    margin-right: auto;
    margin-left: auto;
}
div header {
    background-color: white;

}
form {
    background-color:white;
    margin:2rem;

}